<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
">

    <context:component-scan base-package="com.jjcbs.blog"/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <!--加载相关配置文件-->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/conf/jdbc.properties</value>
                <value>classpath:/conf/web.properties</value>
            </list>
        </property>
    </bean>

    <!--&lt;!&ndash;视图配置&ndash;&gt;-->
    <!--<bean id="templateResolver"-->
          <!--class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">-->
        <!--<property name="prefix" value="/WEB-INF/templates/" />-->
        <!--<property name="suffix" value=".html" />-->
        <!--<property name="templateMode" value="HTML5" />-->
        <!--<property name="characterEncoding" value="UTF-8"/>-->
        <!--<property name="cacheable" value="true"/>-->
    <!--</bean>-->
    <!--<bean id="templateEngine"-->
          <!--class="org.thymeleaf.spring4.SpringTemplateEngine">-->
        <!--<property name="templateResolver" ref="templateResolver" />-->
    <!--</bean>-->

    <!--<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">-->
        <!--<property name="templateEngine" ref="templateEngine" />-->
        <!--<property name="characterEncoding" value="UTF-8"/>-->
        <!--<property name="cache" value="true"/>-->
        <!--<property name="cacheLimit" value="1800"/>-->
    <!--</bean>-->
<!--cache-->
    <!--开启缓存注解-->
    <cache:annotation-driven cache-manager="cacheManager"/>
    <bean id="ehCacheManagerFactoryBean" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:conf/ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehCacheManagerFactoryBean"/>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--忽略静态文件-->
    <!--<mvc:resources location="/static/" mapping="/static/**"/>-->
</beans>